<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <%include ../partials/head %>
    </head>
    <body>
        <%include ../partials/sidebar %>
        <% if(typeof content !== "undefined"){ %>
            <div class="page-container">
                <%include ../partials/header %>
            </div>
        <% } %>
        <%include ../partials/footer %>
    </body>
</html> -->