<!-- <!DOCTYPE html>
<html lang="en">
    <head>
        <%include ./partials/head %>
    </head>
    <body>
        <% if(typeof content !== "undefined"){ %>
                <%-content%>
        <% } %>
        <%include ./partials/footer %>
    </body>

</html> -->