@media (min-width:319px) and (max-width:480px){
.top-bar .left-side {
    display: none;
}
.menu-bar .navbar .navbar-brand img {
    transition: all 0.5s ease;
    width: 135px;
}
.menu-bar .navbar {
    background: #fff!important;
    padding: 7px 15px;
}
.banner-box .banner-content .banner-left-content .title {
    font-size: 30px;
}
.banner-box .banner-content .banner-left-content .subtitle {
    line-height: 18px;
    font-size: 13px;
}
.banner-box .banner-content .banner-left-content {
    width: 100%;
}
.banner-box .social-icon {
    display: none;
}
.gradent-white {
    padding: 0px 14px!important;
	font-size:13px;
}
.social-icon ul li a {
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 13px;
}
.menu-bar .navbar .menus .navbar-nav .nav-item {
    padding: 0px 0px 0px 0px;
    text-align: center;
}
.menu-bar.fixed-header .dropdown-content {
    height: 300px!important;
    overflow: scroll!important;
}
.dropdown-content .drop-content-menus .logos-menu {
    display: none;
}
.indusries .section-title {
    font-size: 36px;
}
.counter .counter-nuber ul li .counter-list {
    padding-left: 0px;
	padding-top: 46px;
}
.counter .counter-nuber ul li .counter-list img {
    position: absolute;
    left: 50%;
    width: 49px;
    top: 0;
    transform: translateX(-50%);
}
.counter .counter-nuber ul li .counter-list span {
    font-size: 12px;
}
.counter .counter-nuber ul li + li:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    background: #cacaca;
    left: 0px;
}
.counter .counter-nuber ul li .counter-list .counter-content {
    width: 100%;
    text-align: center;
    font-size: 10px;
    color: #505050;
}
.counter .counter-nuber ul li {
    display: inline-block;
    width: 25%;
    position: relative;
    FLOAT: LEFT;
}
.services .service-list li {
    width: 100%;
}
.services .service-list li .service-tag .service-title {
    font-size: 36px;
}
.services .service-list li .service-list-box{
	height:100%;
	padding:20px;
}
.services .service-list li .service-tag {
    height: 100%;
    width: 100%;
    display: inline-block;
}
.services .service-list li .service-tag .services-subtitle {
    font-size: 14px;
    line-height: 24px;
}
.services .service-list li.services-tagline:before {
    content: "";
    width: 100%;
    padding: 30px;
    height: 100%;
}
.indusries {
    height: 232px;
}
.indusries .indusries-list ul li a img {
    width: 38px;
}
.indusries .section-title{
	left:0;
}
.client .client-box ul li {
    display: inline-block;
    width: 50%;
	padding:10px 0;
	border-bottom: 1px solid #d5d5d5!important;
}
.client .client-box ul li:nth-child(7),.client .client-box ul li:nth-child(8){
	border-bottom:0px!important; 
}
.client .client-box ul li:nth-child(2),.client .client-box ul li:nth-child(6){
    border-right:0px!important;
}
.gradent-btn{
	padding:0 20px!important;
	font-size:13px;
}
.testimonial .testimonail-box .slide .carousel-inner .slider-content-box .profile-image{
	width:260px;
	height: 140px;
}
.testimonial .testimonail-box .slide .carousel-inner .slider-content-box .profile-image video{
	width:260px;
}
.testimonial .testimonail-box .slide .carousel-inner .slider-content-box .slider-content {
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
}
.recent-project .project-slider .carousel-inner .project-details .project-name {
    font-size: 18px;
}
.recent-project .project-slider .carousel-inner .project-list ul li {
    font-family: 'Roboto', sans-serif;
}
.recent-project .project-slider .carousel-inner .project-view-box{
	padding-left:0px;
}
.section-title .main-title {
    font-size: 26px;
    padding: 0 15px;
}
.section-title .subtitle{
	padding:15px;
}
.happy-client .client-satisfied ul li {
    width: 50%;
}
.happy-client .client-satisfied ul li .client-seti-box .heading-title{
	height:100%;
	font-size: 14px;
}
.happy-client .client-satisfied ul li .client-seti-box .headind-subtitle{
	height:100%;
}
.happy-client .client-satisfied ul li:nth-child(2) {
    border-right: none;
}
.form-section .right-side-bg{
	display:none;
}
.form-section .form-input-box .left-box {
    width: 100%;
}
.form-section .form-input-box .left-box .content-view .heading-tagline {
    font-size: 16px;
}
.form-section .form-input-box .right-side {
    width: 100%;
    float: left;
}
.form-section .form-input-box .right-side .message-block {
    padding: 0;
}
.form-section .form-input .input-form .lable{
	font-size:12px;
}
.form-section .form-input .input-form .input-field .form-control:focus{
	box-shadow:none;
	outline:0px;
}
.map .left-bg {
    width: 100%;
    height: 50px;
}
.map .horizontal-text {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    float: left;
    position: relative;
    top: 10px;
    font-size: 15px;
    color: #fff;
    text-shadow: 0px 3px 4px #000;
    font-weight: 500;
    text-align: center;
	left:50%;
	transform: translateX(-50%);
}
.map {
    width: 100%;
    float: left;
    height: 100%;
    min-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: contain;
}
.footer .footer-content .footer-inner-box .blog-list ul li{
	font-weight:100;
}
.footer .extra-pages ul li {
    font-size: 11px;
}
.footer .footer-content .footer-inner-box .footer-box-title {
    margin-bottom: 5px;
    margin-top: 0px;
}
.footer .footer-content .footer-inner-box {
    margin-bottom: 20px;
}
.banner-box .banner-content .banner-tip{
	display:none;
}
.banner-box .banner-content .banner-center-content .title {
	font-size: 36px;
}
.about-services .about-service-content .left-side-content {
    width: 100%;
}
.about-services .about-service-content .left-side-content .content-box {
    font-size: 13px;
    line-height: 24px;
}
.about-services .about-service-content .right-side-content {
    float: right;
    width: 100%;
}
.about-services .about-service-content{
	padding-top:0px;
}
.banner-box .banner-content .banner-center-content .subtitle {
    color: #fff;
    line-height: 18px;
    font-size: 13px;
}
.benifits-of-services .benifit-sec .beni-content {
    font-size: 13px;
}
.services-banifit .benifit-senerio {
    padding: 0px 0 50px;
}
.about-page .team-inner-content {
    padding-right: 0;
	padding-top: 70px;
}
.about-page .team-inner-content .flowerpot {
    width: 158px;
    top: -56px;
    left: 50%;
    transform: translateX(-50%);
}
.about-page .team-frame {
    width: 100%;
    height: 200px;
}
.about-department .depart-content .left-section {
    width: 100%;
}
.about-department .depart-content .right-section {
    width: 100%;
}
.about-department .depart-content .right-section .content-about-section {
    font-size: 13px;
    line-height: 22px;
    padding-right: 0px;
    margin: 10px 0;
}
.about-department .depart-content{
	padding:15px;
}
.about-services .about-service-content .right-side-content .graphic-image {
    text-align: center;
}

.busines-type .bussines-view .form .input-Group {
    width: 29%;
    float: left;
    text-align: center;
    margin: 0 6px;
    border-radius: 4px;
    position: relative;
}
.busines-type .bussines-view .form .input-Group label {
    padding: 88px 8px 30px;
	font-size: 12px;
}
.select-services .choose-services .tab-ul li {
    width: 50%;
	padding: 5px;
}
.services-inner-tabs .form .input-form {
    width: 50%;
	padding: 5px;
	
}
.services-inner-tabs .form .input-form label{
	font-size:11px;
	font-weight:300;
}
.select-services .choose-services .heading {
    padding: 20px 0;
}
.select-services .choose-services .tab-ul li a.nav-link .service-name {
    width: 100%;
    float: left;
    font-size: 12px;
    font-weight: 500;
    min-height: 48px;
}
.plate-forms .plate-form-box .pf-content-box {
    width: 100%;
}
.plate-forms .plate-form-box .pf-content-box .pf-image-box {
    height: 190px;
}
.footer .footer-content .footer-inner-box .work-provider ul li {
    width: 45%;
}
}

@media (min-width:481px) and (max-width:575px){
.top-bar .left-side {
    display: none;
}
.menu-bar .navbar .navbar-brand img {
    transition: all 0.5s ease;
    width: 135px;
}
.menu-bar .navbar {
    background: #fff!important;
    padding: 7px 15px;
}
.banner-box .banner-content .banner-left-content .title {
    font-size: 30px;
}
.banner-box .banner-content .banner-left-content .subtitle {
    line-height: 18px;
    font-size: 13px;
}
.banner-box .banner-content .banner-left-content {
    width: 100%;
}
.banner-box .social-icon {
    display: none;
}
.gradent-white {
    padding: 0px 14px!important;
	font-size:13px;
}
.social-icon ul li a {
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 13px;
}
.menu-bar .navbar .menus .navbar-nav .nav-item {
    padding: 0px 0px 0px 0px;
    text-align: center;
}
.menu-bar.fixed-header .dropdown-content {
    height: 300px!important;
    overflow: scroll!important;
}
.dropdown-content .drop-content-menus .logos-menu {
    display: none;
}
.indusries .section-title {
    font-size: 36px;
}
.counter .counter-nuber ul li .counter-list {
    padding-left: 0px;
	padding-top: 46px;
}
.counter .counter-nuber ul li .counter-list img {
    position: absolute;
    left: 50%;
    width: 49px;
    top: 0;
    transform: translateX(-50%);
}
.counter .counter-nuber ul li .counter-list span {
    font-size: 12px;
}
.counter .counter-nuber ul li + li:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    background: #cacaca;
    left: 0px;
}
.counter .counter-nuber ul li .counter-list .counter-content {
    width: 100%;
    text-align: center;
    font-size: 10px;
    color: #505050;
}
.counter .counter-nuber ul li {
    display: inline-block;
    width: 25%;
    position: relative;
    FLOAT: LEFT;
}
.services .service-list li {
    width: 100%;
}
.services .service-list li .service-tag .service-title {
    font-size: 36px;
}
.services .service-list li .service-list-box{
	height:100%;
	padding:20px;
}
.services .service-list li .service-tag {
    height: 100%;
    width: 100%;
    display: inline-block;
}
.services .service-list li .service-tag .services-subtitle {
    font-size: 14px;
    line-height: 24px;
}
.services .service-list li.services-tagline:before {
    content: "";
    width: 100%;
    padding: 30px;
    height: 100%;
}
.indusries {
    height: 232px;
}
.indusries .indusries-list ul li a img {
    width: 38px;
}
.indusries .section-title{
	left:0;
}
.client .client-box ul li {
    display: inline-block;
    width: 50%;
	padding:10px 0;
	border-bottom: 1px solid #d5d5d5!important;
}
.client .client-box ul li:nth-child(7),.client .client-box ul li:nth-child(8){
	border-bottom:0px!important; 
}
.client .client-box ul li:nth-child(2),.client .client-box ul li:nth-child(6){
    border-right:0px!important;
}
.gradent-btn{
	padding:0 20px!important;
	font-size:13px;
}
.testimonial .testimonail-box .slide .carousel-inner .slider-content-box .profile-image{
	width: 350px;
	height: 195px;
}
.testimonial .testimonail-box .slide .carousel-inner .slider-content-box .profile-image video{
	width: 350px;
}
.testimonial .testimonail-box .slide .carousel-inner .slider-content-box .slider-content {
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
}
.recent-project .project-slider .carousel-inner .project-details .project-name {
    font-size: 18px;
}
.recent-project .project-slider .carousel-inner .project-list ul li {
    font-family: 'Roboto', sans-serif;
}
.recent-project .project-slider .carousel-inner .project-view-box{
	padding-left:0px;
}
.section-title .main-title {
    font-size: 26px;
    padding: 0 15px;
}
.section-title .subtitle{
	padding:15px;
}
.happy-client .client-satisfied ul li {
    width: 50%;
}
.happy-client .client-satisfied ul li .client-seti-box .heading-title{
	height:100%;
	font-size: 14px;
}
.happy-client .client-satisfied ul li .client-seti-box .headind-subtitle{
	height:100%;
}
.happy-client .client-satisfied ul li:nth-child(2) {
    border-right: none;
}
.form-section .right-side-bg{
	display:none;
}
.form-section .form-input-box .left-box {
    width: 100%;
}
.form-section .form-input-box .left-box .content-view .heading-tagline {
    font-size: 16px;
}
.form-section .form-input-box .right-side {
    width: 100%;
    float: left;
}
.form-section .form-input-box .right-side .message-block {
    padding: 0;
}
.form-section .form-input .input-form .lable{
	font-size:12px;
}
.form-section .form-input .input-form .input-field .form-control:focus{
	box-shadow:none;
	outline:0px;
}
.map .left-bg {
    width: 100%;
    height: 50px;
}
.map .horizontal-text {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    float: left;
    position: relative;
    top: 10px;
    font-size: 15px;
    color: #fff;
    text-shadow: 0px 3px 4px #000;
    font-weight: 500;
    text-align: center;
	left:50%;
	transform: translateX(-50%);
}
.map {
    width: 100%;
    float: left;
    height: 100%;
    min-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: contain;
}
.footer .footer-content .footer-inner-box .blog-list ul li{
	font-weight:100;
}
.footer .extra-pages ul li {
    font-size: 11px;
}
.footer .footer-content .footer-inner-box .footer-box-title {
    margin-bottom: 5px;
    margin-top: 0px;
}
.footer .footer-content .footer-inner-box {
    margin-bottom: 20px;
}
.banner-box .banner-content .banner-tip{
	display:none;
}
.banner-box .banner-content .banner-center-content .title {
	font-size: 36px;
}
.about-services .about-service-content .left-side-content {
    width: 100%;
}
.about-services .about-service-content .left-side-content .content-box {
    font-size: 13px;
    line-height: 24px;
}
.about-services .about-service-content .right-side-content {
    float: right;
    width: 100%;
}
.about-services .about-service-content{
	padding-top:0px;
}
.banner-box .banner-content .banner-center-content .subtitle {
    color: #fff;
    line-height: 18px;
    font-size: 13px;
}
.benifits-of-services .benifit-sec .beni-content {
    font-size: 13px;
}
.services-banifit .benifit-senerio {
    padding: 0px 0 50px;
}
.about-page .team-inner-content {
    padding-right: 0;
	padding-top: 70px;
}
.about-page .team-inner-content .flowerpot {
    width: 158px;
    top: -56px;
    left: 50%;
    transform: translateX(-50%);
}
.about-page .team-frame {
    width: 100%;
    height: 200px;
}
.about-department .depart-content .left-section {
    width: 100%;
}
.about-department .depart-content .right-section {
    width: 100%;
}
.about-department .depart-content .right-section .content-about-section {
    font-size: 13px;
    line-height: 22px;
    padding-right: 0px;
    margin: 10px 0;
}
.about-department .depart-content{
	padding:15px;
}
.about-services .about-service-content .right-side-content .graphic-image {
    text-align: center;
}

.busines-type .bussines-view .form .input-Group {
    width: 29%;
    float: left;
    text-align: center;
    margin: 0 6px;
    border-radius: 4px;
    position: relative;
}
.busines-type .bussines-view .form .input-Group label {
    padding: 88px 12px 30px;
    font-size: 12px;
}
.select-services .choose-services .tab-ul li {
    width: 50%;
	padding: 5px;
}
.services-inner-tabs .form .input-form {
    width: 50%;
	padding: 5px;
	
}
.services-inner-tabs .form .input-form label{
	font-size:11px;
	font-weight:300;
}
.select-services .choose-services .heading {
    padding: 20px 0;
}
.select-services .choose-services .tab-ul li a.nav-link .service-name {
    width: 100%;
    float: left;
    font-size: 12px;
    font-weight: 500;
    min-height: 48px;
}
.plate-forms .plate-form-box .pf-content-box {
    width: 100%;
}
.plate-forms .plate-form-box .pf-content-box .pf-image-box {
    height: 190px;
}	
.footer .footer-content .footer-inner-box .work-provider ul li {
    width: 30%;
}
	
}


@media (min-width:576px) and (max-width:767px){
.top-bar .left-side {
    display: none;
}
.menu-bar .navbar .navbar-brand img {
    transition: all 0.5s ease;
    width: 135px;
}
.menu-bar .navbar {
    background: #fff!important;
    padding: 7px 15px;
}
.banner-box .banner-content .banner-left-content .title {
    font-size: 42px;
}
.banner-box .banner-content .banner-left-content .subtitle {
    line-height: 18px;
    font-size: 14px;
}
.banner-box .banner-content .banner-left-content {
    width: 100%;
}
.banner-box .social-icon {
    display: none;
}
.gradent-white {
    padding: 0px 14px!important;
	font-size:13px;
}
.social-icon ul li a {
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 13px;
}
.menu-bar .navbar .menus .navbar-nav .nav-item {
    padding: 0px 0px 0px 0px;
    text-align: center;
}
.menu-bar.fixed-header .dropdown-content {
    height: 300px!important;
    overflow: scroll!important;
}
.dropdown-content .drop-content-menus .logos-menu {
    display: none;
}
.indusries .section-title {
    font-size: 36px;
}
.counter .counter-nuber ul li .counter-list {
    padding-left: 0px;
	padding-top: 46px;
}
.counter .counter-nuber ul li .counter-list img {
    position: absolute;
    left: 50%;
    width: 49px;
    top: 0;
    transform: translateX(-50%);
}
.counter .counter-nuber ul li .counter-list span {
    font-size: 12px;
}
.counter .counter-nuber ul li + li:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    background: #cacaca;
    left: 0px;
}
.counter .counter-nuber ul li .counter-list .counter-content {
    width: 100%;
    text-align: center;
    font-size: 10px;
    color: #505050;
}
.counter .counter-nuber ul li {
    display: inline-block;
    width: 25%;
    position: relative;
    FLOAT: LEFT;
}
.services .service-list li {
    width: 50%;
}
.services .service-list li .service-tag .service-title {
    font-size: 36px;
}
.services .service-list li .service-list-box{
	height:100%;
	padding:20px;
	height: 257px;
}
.services .service-list li .service-tag {
    width: 100%;
    display: inline-block;
    height: 257px;
}
.services .service-list li .service-tag .services-subtitle {
    font-size: 14px;
    line-height: 24px;
}
.services .service-list li.services-tagline:before {
    content: "";
    width: 100%;
    padding: 30px;
    height: 100%;
}
.indusries {
    height: 232px;
}
.indusries .indusries-list ul li a img {
    width: 38px;
}
.indusries .section-title{
	left:0;
}
.client .client-box ul li {
    display: inline-block;
    width: 25%;
	padding:10px 0;
}
.gradent-btn{
	padding:0 20px!important;
	font-size:13px;
}
.testimonial .testimonail-box .slide .carousel-inner .slider-content-box .profile-image{
	width:260px;
	height: 140px;
}
.testimonial .testimonail-box .slide .carousel-inner .slider-content-box .profile-image video{
	width:260px;
}
.testimonial .testimonail-box .slide .carousel-inner .slider-content-box .slider-content {
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
}
.recent-project .project-slider .carousel-inner .project-details .project-name {
    font-size: 18px;
}
.recent-project .project-slider .carousel-inner .project-list ul li {
    font-family: 'Roboto', sans-serif;
}
.recent-project .project-slider .carousel-inner .project-view-box{
	padding-left:0px;
}
.section-title .main-title {
    font-size: 26px;
    padding: 0 15px;
}
.section-title .subtitle{
	padding:15px;
}
.happy-client .client-satisfied ul li {
    width: 50%;
}
.happy-client .client-satisfied ul li .client-seti-box .heading-title{
	height:100%;
	font-size: 14px;
}
.happy-client .client-satisfied ul li .client-seti-box .headind-subtitle{
	height:100%;
}
.happy-client .client-satisfied ul li:nth-child(2) {
    border-right: none;
}
.form-section .right-side-bg{
	display:none;
}
.form-section .form-input-box .left-box {
    width: 100%;
}
.form-section .form-input-box .left-box .content-view .heading-tagline {
    font-size: 16px;
}
.form-section .form-input-box .right-side {
    width: 100%;
    float: left;
}
.form-section .form-input-box .right-side .message-block {
    padding: 0;
}
.form-section .form-input .input-form .lable{
	font-size:12px;
}
.form-section .form-input .input-form .input-field .form-control:focus{
	box-shadow:none;
	outline:0px;
}
.map .left-bg {
    width: 100%;
    height: 50px;
}
.map .horizontal-text {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    float: left;
    position: relative;
    top: 10px;
    font-size: 15px;
    color: #fff;
    text-shadow: 0px 3px 4px #000;
    font-weight: 500;
    text-align: center;
	left:50%;
	transform: translateX(-50%);
}
.map {
    width: 100%;
    float: left;
    height: 100%;
    min-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: contain;
}
.footer .footer-content .footer-inner-box .blog-list ul li{
	font-weight:100;
}
.footer .extra-pages ul li {
    font-size: 11px;
}
.footer .footer-content .footer-inner-box .footer-box-title {
    margin-bottom: 5px;
    margin-top: 0px;
}
.footer .footer-content .footer-inner-box {
    margin-bottom: 20px;
}
.banner-box .banner-content .banner-tip{
	display:none;
}
.banner-box .banner-content .banner-center-content .title {
	font-size: 36px;
}
.about-services .about-service-content .left-side-content {
    width: 100%;
}
.about-services .about-service-content .left-side-content .content-box {
    font-size: 13px;
    line-height: 24px;
}
.about-services .about-service-content .right-side-content {
    float: right;
    width: 100%;
}
.about-services .about-service-content{
	padding-top:0px;
}
.banner-box .banner-content .banner-center-content .subtitle {
    color: #fff;
    line-height: 18px;
    font-size: 13px;
}
.benifits-of-services .benifit-sec .beni-content {
    font-size: 13px;
}
.services-banifit .benifit-senerio {
    padding: 0px 0 50px;
}
.about-page .team-inner-content {
    padding-right: 0;
	padding-top: 70px;
}
.about-page .team-inner-content .flowerpot {
    width: 158px;
    top: -56px;
    left: 50%;
    transform: translateX(-50%);
}
.about-page .team-frame {
    width: 100%;
    height: 200px;
}
.about-department .depart-content .left-section {
    width: 100%;
}
.about-department .depart-content .right-section {
    width: 100%;
}
.about-department .depart-content .right-section .content-about-section {
    font-size: 13px;
    line-height: 22px;
    padding-right: 0px;
    margin: 10px 0;
}
.about-department .depart-content{
	padding:15px;
}
.about-services .about-service-content .right-side-content .graphic-image {
    text-align: center;
}

.busines-type .bussines-view .form .input-Group {
    width: 29%;
    float: left;
    text-align: center;
    margin: 0 6px;
    border-radius: 4px;
    position: relative;
}
.busines-type .bussines-view .form .input-Group label {
    padding: 88px 19px 30px;
    font-size: 12px;
}
.select-services .choose-services .tab-ul li {
    width: 50%;
	padding: 5px;
}
.services-inner-tabs .form .input-form {
    width: 50%;
	padding: 5px;
	
}
.services-inner-tabs .form .input-form label{
	font-size:11px;
	font-weight:300;
}
.select-services .choose-services .heading {
    padding: 20px 0;
}
.select-services .choose-services .tab-ul li a.nav-link .service-name {
    width: 100%;
    float: left;
    font-size: 12px;
    font-weight: 500;
    min-height: 48px;
}
.plate-forms .plate-form-box .pf-content-box {
    width: 100%;
}
.plate-forms .plate-form-box .pf-content-box .pf-image-box {
    height: 190px;
}	
.footer .footer-content .footer-inner-box .work-provider ul li a img {
    filter: grayscale(0);
    max-width: 150px;
}
.footer .footer-content .footer-inner-box .work-provider ul li img{
	max-width: 150px;
}	
.footer .footer-content .footer-inner-box .work-provider.partn li img {
    max-width: 127px;
}
.footer .footer-content .footer-inner-box .work-provider ul li {
    width: 30%;
}
}


@media (min-width:768px) and (max-width:991px){
.top-bar .left-side {
    display: block;
}
.menu-bar .navbar .navbar-brand img {
    transition: all 0.5s ease;
    width: 135px;
}
.menu-bar .navbar {
    background: #fff!important;
    padding: 7px 15px;
}
.banner-box .banner-content .banner-left-content .title {
    font-size: 42px;
}
.banner-box .banner-content .banner-left-content .subtitle {
    line-height: 18px;
    font-size: 13px;
}
.banner-box .banner-content .banner-left-content {
    width: 60%;
}
.banner-box .social-icon {
    display: block;
}
.gradent-white {
    padding: 0px 14px!important;
	font-size:13px;
}
.social-icon ul li a {
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 13px;
}
.menu-bar .navbar .menus .navbar-nav .nav-item {
    padding: 0px 0px 0px 0px;
    text-align: center;
}
.menu-bar.fixed-header .dropdown-content {
    height: 300px!important;
    overflow: scroll!important;
}
.dropdown-content .drop-content-menus .logos-menu {
    display: none;
}
.indusries .section-title {
    font-size: 68px;
}
.counter .counter-nuber ul li .counter-list {
    padding-left: 0px;
	padding-top: 46px;
}
.counter .counter-nuber ul li .counter-list img {
    position: absolute;
    left: 50%;
    width: 49px;
    top: 0;
    transform: translateX(-50%);
}
.counter .counter-nuber ul li .counter-list span {
    font-size: 12px;
}
.counter .counter-nuber ul li + li:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    background: #cacaca;
    left: 0px;
}
.counter .counter-nuber ul li .counter-list .counter-content {
    width: 100%;
    text-align: center;
    font-size: 10px;
    color: #505050;
}
.counter .counter-nuber ul li {
    display: inline-block;
    width: 25%;
    position: relative;
    FLOAT: LEFT;
}
.services .service-list li {
    width: 50%;
}
.services .service-list li .service-tag .service-title {
    font-size: 36px;
}
.services .service-list li .service-list-box{
	height:100%;
	padding:20px;
	height: 248px;
}
.services .service-list li .service-tag {
    height: 100%;
    width: 100%;
    display: inline-block;
    height: 248px;
}
.services .service-list li .service-tag .services-subtitle {
    font-size: 14px;
    line-height: 24px;
}
.services .service-list li.services-tagline:before {
    content: "";
    width: 100%;
    padding: 30px;
    height: 100%;
}
.indusries {
    height: 386px;
}
.indusries .indusries-list ul li a img {
    width: 95px;
}
.indusries .section-title{
	left:0;
}
.client .client-box ul li {
    display: inline-block;
    width: 25%;
    padding:10px 0;
  
}

.gradent-btn{
	padding:0 20px!important;
	font-size:13px;
}
.testimonial .testimonail-box .slide .carousel-inner .slider-content-box .profile-image{
	width: 380px;
	height: 211px;
}
.testimonial .testimonail-box .slide .carousel-inner .slider-content-box .profile-image video{
	width: 380px;
}
.testimonial .testimonail-box .slide .carousel-inner .slider-content-box .slider-content {
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
}
.recent-project .project-slider .carousel-inner .project-details .project-name {
    font-size: 18px;
}
.recent-project .project-slider .carousel-inner .project-list ul li {
    font-family: 'Roboto', sans-serif;
}
.recent-project .project-slider .carousel-inner .project-view-box{
	padding-left:0px;
}
.section-title .main-title {
    font-size: 26px;
    padding: 0 15px;
}
.section-title .subtitle{
	padding:15px;
}

.happy-client .client-satisfied ul li .client-seti-box .heading-title{
	height:100%;
	font-size: 14px;
}
.happy-client .client-satisfied ul li .client-seti-box .headind-subtitle{
	height:100%;
}

.form-section .right-side-bg{
	display:none;
}
.form-section .form-input-box .left-box {
    width: 50%;
    padding-right: 30px;
}
.form-section .form-input-box .left-box .content-view .heading-tagline {
    font-size: 16px;
}
.form-section .form-input-box .right-side {
    width: 50%;
    float: right;
}
.form-section .form-input-box .right-side .message-block {
    padding: 0;
}
.form-section .form-input .input-form .lable{
	font-size:12px;
}
.form-section .form-input .input-form .input-field .form-control:focus{
	box-shadow:none;
	outline:0px;
}
.map .left-bg {
    width: 100%;
    height: 50px;
}
.map .horizontal-text {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    float: left;
    position: relative;
    top: 10px;
    font-size: 15px;
    color: #fff;
    text-shadow: 0px 3px 4px #000;
    font-weight: 500;
    text-align: center;
	left:50%;
	transform: translateX(-50%);
}
.map {
    width: 100%;
    float: left;
    height: 100%;
    min-height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    background-size: contain;
}
.footer .footer-content .footer-inner-box .blog-list ul li{
	font-weight:100;
}
.footer .extra-pages ul li {
    font-size: 11px;
}
.footer .footer-content .footer-inner-box .footer-box-title {
    margin-bottom: 5px;
    margin-top: 0px;
}
.footer .footer-content .footer-inner-box {
    margin-bottom: 20px;
}
.banner-box .banner-content .banner-tip{
	display:none;
}
.banner-box .banner-content .banner-center-content .title {
	font-size: 36px;
}
.about-services .about-service-content .left-side-content {
    width: 100%;
}
.about-services .about-service-content .left-side-content .content-box {
    font-size: 13px;
    line-height: 24px;
}
.about-services .about-service-content .right-side-content {
    float: right;
    width: 100%;
}
.about-services .about-service-content{
	padding-top:0px;
}
.banner-box .banner-content .banner-center-content .subtitle {
    color: #fff;
    line-height: 18px;
    font-size: 13px;
}
.benifits-of-services .benifit-sec .beni-content {
    font-size: 13px;
}
.services-banifit .benifit-senerio {
    padding: 0px 0 50px;
}
.about-page .team-inner-content {
    padding-right: 0;
	padding-top: 70px;
}
.about-page .team-inner-content .flowerpot {
    width: 158px;
    top: -56px;
    left: 50%;
    transform: translateX(-50%);
}
.about-page .team-frame {
    width: 100%;
    height: 200px;
}
.about-department .depart-content .left-section {
    width: 100%;
}
.about-department .depart-content .right-section {
    width: 100%;
}
.about-department .depart-content .right-section .content-about-section {
    font-size: 13px;
    line-height: 22px;
    padding-right: 0px;
    margin: 10px 0;
}
.about-department .depart-content{
	padding:15px;
}
.about-services .about-service-content .right-side-content .graphic-image {
    text-align: center;
}

.busines-type .bussines-view .form .input-Group {
    width: 29%;
    float: left;
    text-align: center;
    margin: 0 14px;
    border-radius: 4px;
    position: relative;
}
.busines-type .bussines-view .form .input-Group label {
    padding: 88px 8px 30px;
	font-size: 12px;
}
.select-services .choose-services .tab-ul li {
    width: 33%;
    padding: 5px;
}
.services-inner-tabs .form .input-form {
    width: 33%;
    padding: 5px;
}
.services-inner-tabs .form .input-form label{
	font-size:11px;
	font-weight:300;
}
.select-services .choose-services .heading {
    padding: 20px 0;
}
.select-services .choose-services .tab-ul li a.nav-link .service-name {
    width: 100%;
    float: left;
    font-size: 12px;
    font-weight: 500;
    min-height: 48px;
}
.plate-forms .plate-form-box .pf-content-box {
    width: 100%;
}
.plate-forms .plate-form-box .pf-content-box .pf-image-box {
    height: 190px;
}	

}


@media (min-width:992px) and (max-width:1199px){
.top-bar .left-side {
    display: block;
}
.menu-bar .navbar .navbar-brand img {
    transition: all 0.5s ease;
    width: 135px;
}
.menu-bar .navbar {
    background: #fff!important;
    padding: 7px 15px;
}
.banner-box .banner-content .banner-left-content .title {
    font-size: 48px;
}
.banner-box .banner-content .banner-left-content .subtitle {
    line-height: 18px;
    font-size: 15px;
}
.banner-box .banner-content .banner-left-content {
    width: 60%;
}
.banner-box .social-icon {
    display: block;
}
.gradent-white {
    padding: 0px 14px!important;
	font-size:13px;
}
.social-icon ul li a {
    height: 30px;
    width: 30px;
    line-height: 30px;
    font-size: 13px;
}
.menu-bar .navbar .menus .navbar-nav .nav-item {
    padding: 0px 0px 0px 0px;
    text-align: center;
}
.menu-bar.fixed-header .dropdown-content {
    height: 300px!important;
    overflow: scroll!important;
}
.dropdown-content .drop-content-menus .logos-menu {
    display: none;
}
.indusries .section-title {
    font-size: 68px;
}
.counter .counter-nuber ul li .counter-list {
    padding-left: 0px;
	padding-top: 46px;
}
.counter .counter-nuber ul li .counter-list img {
    position: absolute;
    left: 50%;
    width: 49px;
    top: 0;
    transform: translateX(-50%);
}
.counter .counter-nuber ul li .counter-list span {
    font-size: 12px;
}
.counter .counter-nuber ul li + li:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 1px;
    background: #cacaca;
    left: 0px;
}
.counter .counter-nuber ul li .counter-list .counter-content {
    width: 100%;
    text-align: center;
    font-size: 14px;
    color: #505050;
}
.counter .counter-nuber ul li {
    display: inline-block;
    width: 25%;
    position: relative;
    FLOAT: LEFT;
}
.services .service-list li {
    width: 25%;
}
.services .service-list li .service-tag .service-title {
    font-size: 36px;
}
.services .service-list li .service-list-box{
	height:100%;
	padding:20px;
	height: 338px;
}
.services .service-list li .service-tag {
    height: 100%;
    width: 100%;
    display: inline-block;
    height: 338px;
}
.services .service-list li .service-tag .services-subtitle {
    font-size: 14px;
    line-height: 24px;
}
.services .service-list li.services-tagline:before {
    content: "";
    width: calc(100% + 10px);
    padding: 30px;
    height: calc(100% + 10px);
}
.indusries {
    height: 386px;
}
.indusries .indusries-list ul li a img {
    width: 95px;
}
.indusries .section-title{
	left:0;
}
.client .client-box ul li {
    display: inline-block;
    width: 25%;
    padding:10px 0;
  
}

.gradent-btn{
	padding:0 20px!important;
	font-size:13px;
}
.testimonial .testimonail-box .slide .carousel-inner .slider-content-box .profile-image{
	width: 380px;
	height: 211px;
}
.testimonial .testimonail-box .slide .carousel-inner .slider-content-box .profile-image video{
	width: 380px;
}
.testimonial .testimonail-box .slide .carousel-inner .slider-content-box .slider-content {
    font-size: 13px;
    line-height: 20px;
    font-weight: 300;
}
.recent-project .project-slider .carousel-inner .project-details .project-name {
    font-size: 18px;
}
.recent-project .project-slider .carousel-inner .project-list ul li {
    font-family: 'Roboto', sans-serif;
}
.recent-project .project-slider .carousel-inner .project-view-box{
	padding-left:0px;
}
.section-title .main-title {
    font-size: 26px;
    padding: 0 15px;
}
.section-title .subtitle{
	padding:15px;
}

.happy-client .client-satisfied ul li .client-seti-box .heading-title{
	height:100%;
	font-size: 14px;
}
.happy-client .client-satisfied ul li .client-seti-box .headind-subtitle{
	height:100%;
}

.form-section .right-side-bg{
	display:none;
}
.form-section .form-input-box .left-box {
    width: 50%;
    padding-right: 30px;
}
.form-section .form-input-box .left-box .content-view .heading-tagline {
    font-size: 16px;
}
.form-section .form-input-box .right-side {
    width: 50%;
    float: right;
}
.form-section .form-input-box .right-side .message-block {
    padding: 0;
}
.form-section .form-input .input-form .lable{
	font-size:12px;
}
.form-section .form-input .input-form .input-field .form-control:focus{
	box-shadow:none;
	outline:0px;
}

.footer .footer-content .footer-inner-box .blog-list ul li{
	font-weight:100;
}
.footer .extra-pages ul li {
    font-size: 11px;
}
.footer .footer-content .footer-inner-box .footer-box-title {
    margin-bottom: 5px;
    margin-top: 0px;
}
.footer .footer-content .footer-inner-box {
    margin-bottom: 20px;
}
.banner-box .banner-content .banner-tip{
	display:none;
}
.banner-box .banner-content .banner-center-content .title {
	font-size: 36px;
}
.about-services .about-service-content .left-side-content {
    width: 100%;
}
.about-services .about-service-content .left-side-content .content-box {
    font-size: 13px;
    line-height: 24px;
}
.about-services .about-service-content .right-side-content {
    float: right;
    width: 100%;
}
.about-services .about-service-content{
	padding-top:0px;
}
.banner-box .banner-content .banner-center-content .subtitle {
    color: #fff;
    line-height: 18px;
    font-size: 13px;
}
.benifits-of-services .benifit-sec .beni-content {
    font-size: 13px;
}
.services-banifit .benifit-senerio {
    padding: 0px 0 50px;
}
.about-page .team-inner-content {
    padding-right: 0;
	padding-top: 70px;
}
.about-page .team-inner-content .flowerpot {
    width: 158px;
    top: -56px;
    left: 50%;
    transform: translateX(-50%);
}
.about-page .team-frame {
    width: 100%;
    height: 200px;
}
.about-department .depart-content .left-section {
    width: 100%;
}
.about-department .depart-content .right-section {
    width: 100%;
}
.about-department .depart-content .right-section .content-about-section {
    font-size: 13px;
    line-height: 22px;
    padding-right: 0px;
    margin: 10px 0;
}
.about-department .depart-content{
	padding:15px;
}
.about-services .about-service-content .right-side-content .graphic-image {
    text-align: center;
}

.busines-type .bussines-view .form .input-Group {
    width: 29%;
    float: left;
    text-align: center;
    margin: 0 15px;
    border-radius: 4px;
    position: relative;
}
.busines-type .bussines-view .form .input-Group label {
    padding: 88px 8px 30px;
	font-size: 12px;
}
.select-services .choose-services .tab-ul li {
    width: 33%;
    padding: 5px;
}
.services-inner-tabs .form .input-form {
    width: 33%;
    padding: 5px;
}
.services-inner-tabs .form .input-form label{
	font-size:11px;
	font-weight:300;
}
.select-services .choose-services .heading {
    padding: 20px 0;
}
.select-services .choose-services .tab-ul li a.nav-link .service-name {
    width: 100%;
    float: left;
    font-size: 12px;
    font-weight: 500;
    min-height: 48px;
}
.plate-forms .plate-form-box .pf-content-box {
    width: 100%;
}
.plate-forms .plate-form-box .pf-content-box .pf-image-box {
    height: 190px;
}	
	
	
}
@media (min-width: 1600px){
.container {
    max-width: 1360px;
}
}
@media (min-width: 1920px){
.container {
    max-width: 1560px;
}
}