
<%- contentFor('content') %>
<div class="page-wrapper">
    <div class="page-content--bge5">
        <div class="container">
            <div class="login-wrap">
                <div class="login-content">
                    <div class="login-logo">
                        <a href="#">
                            <img src="/admin-theme/images/icon/logo.png" alt="CoolAdmin">
                        </a>
                    </div>
                    <% include ../partials/messages %>
                    <div class="login-form">
                        <form action="/auth/submit-credentials" method="post" id="myform">

                            <input type="hidden" value="<%= email %>" name="emailid">

                            <div class="form-group">
                                <label>AmazonSellerID</label>
                                <input class="au-input au-input--full" type="text" name="SellerID" id="seller_id"
                                    placeholder="SellerID">
                            </div>
                            <div class="form-group">
                                <label>MwsAuthToken</label>
                                <input class="au-input au-input--full" type="text" name="MwsToken" id="MwsToken" placeholder="Token">
                            </div>
                             <div class="form-group">
                                <label>MWS ACCESS KEY</label>
                                <input class="au-input au-input--full" type="text" name="AccessKey" id="AccessKey" placeholder="MWS Access Key">
                            </div>
                            <div class="form-group">
                                <label>MWS ACCESS SECRET</label>
                                <input class="au-input au-input--full" type="text" name="AccessSecret" id="AccessSecret" placeholder="MWS Access Secret">
                            </div>

                            <div class="form-group">
                                <label>Select Target Marketplace</label>
                                <select class="form-control" name="Marketplace">
                                    <option value="">Marketplaces </option>
                                    <option value="ATVPDKIKX0DER">Brazil </option>
                                    <option value="ATVPDKIKX0DER">Canada</option>
                                    <option value="ATVPDKIKX0DER">Mexico</option>
                                    <option value="ATVPDKIKX0DER">US</option>
                                    <option value="ATVPDKIKX0DER">Germany</option>
                                    <option value="ATVPDKIKX0DER">Spain</option>
                                    <option value="ATVPDKIKX0DER">France</option>
                                    <option value="ATVPDKIKX0DER">UK</option>
                                    <option value="ATVPDKIKX0DER">India</option>
                                    <option value="ATVPDKIKX0DER">Italy</option>
                                    <option value="ATVPDKIKX0DER">Turkey</option>
                                    <option value="ATVPDKIKX0DER">Australia</option>
                                    <option value="ATVPDKIKX0DER">Japan</option>
                                    <option value="ATVPDKIKX0DER">China</option>
                                </select>
                            </div>
                            <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">save</button>
                            <input type="button" onclick = "window.location.href='/auth/skipCredentials'" class="btn btn-primary" class="au-btn btn btn-info m-b-20" style="width: 100%" value="Skip for now">
                            <!--<button class="au-btn btn btn-info m-b-20" type="submit" style="width: 100%">skip for now</button>-->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
<script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        setTimeout(function(){
        $('.alert-danger, .alert-success').hide();}, 3000);

        $("#myform").validate({
        rules: {
           "SellerID": {
              required: true,
              remote: {
                  url: '/users/check_sellerid',
                  type: "post",
                  async: false,
                  data: {
                    seller_id: function() {
                      return $("#seller_id").val();
                    }
                  }
              }
           },
           "MwsToken": {
              required: true,
              remote: {
                  url: '/users/check_mws_token',
                  type: "post",
                  async: false,
                  data: {
                    MwsToken: function() {
                      return $("#MwsToken").val();
                    }
                  }
              }
           },
           "Marketplace": {
              required: true
           }

       },
       messages: {
           "SellerID": {
               required: "SellerID can't be Blank",
               remote: "SellerID already exist"
           },
           "MwsToken": {
               required: "MwsToken can't be Blank",
               remote: "MwsToken already exist"
           },
           "Marketplace": {
               required: "Marketplace can't be Blank",
           }
       },
       submitHandler: function(form) {
           form.submit();
       }
   });
    });
</script> -->