<%- contentFor('content') %>
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
    <div class="page-wrapper">
        <div class="page-content--bge5">
            <div>
            <div class="flash-msg">
              <% include ../partials/messages %>
            </div>
            <nav class="navbar navbar-inverse">
               <div class="container-fluid">
                <div class="navbar-header">
                   <a class="navbar-brand edit_profile active" href="/users/edit_account">Edit Profile</a>
                   <a class="navbar-brand update_mws" href="/users/mws">Update MWS</a>
                </div>          
            </nav>
            </div>
            <div class="login-wrap">
                <center><h1>Change Password</h1></center>
                <div class="login-content">
                    <div class="login-form">
                         <form name="change_password" method="post" id="change_password">
                            <div class="form-group">
                                <label for="exampleInputOldPaddword">Old Password *</label>
                                <input type="password" class="form-control required" id="old_password" name = "old_password" placeholder="Old Password" maxlength="100" >
                            </div>
                            <div class="form-group">
                                <label for="exampleInputNewPassword">New Password *</label>
                                <input type="password" class="form-control required" id="password" name = "password" placeholder="New Password" maxlength="100">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputConfirm Password">Confirm Password *</label>
                                <input type="password" class="form-control required" id="confirm_password" name = "confirm_password" placeholder="Confirm Password" maxlength="100">
                            </div>
                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary">Submit</button> <input type="button" onclick = "window.location.href='/users/edit_account'" class="btn btn-primary" class="btn btn-primary" name = "edit_profile" value = "Cancel">
                            </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.min.js"></script>
     <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/additional-methods.min.js"></script>
     <script>
    
        $("#change_password").validate({
                errorElement: 'li',
                onclick: true,
                rules: {
                  old_password: {
                    remote: {
                        url: '/users/check_password',
                        type: "post",
                        async: false,
                        data: {
                          password: function() {
                            return $("#old_password").val();
                          }
                        }
                    }
                  },
                  password: {
                    required: true,
                    minlength: 5
                  },
                  confirm_password: {
                    required: true,
                    equalTo: "#password"
                  }
                },
            
                messages: {
                  old_password: {
                    required: "Please provide your password",
                    remote : "Your password is incorrect"
                  },
                  password: {
                    required: "Please provide a password",
                    minlength: "Your password must be at least 5 characters long"
                  },
                  confirm_password: {
                    required: "Please provide confirm password",
                    equalTo: "new password and confirm password doesn't match"
                  }
                },
         
                submitHandler: function(form) {
                    form.submit();
                }
            
              });
    </script>