<%- contentFor('content') %>
<div class="page-wrapper">
    <div class="page-content--bge5">
        <div class="container">
            <div class="login-wrap">
                <div class="login-content">
                    <div class="login-logo">
                        <a href="#">
                            <img src="/admin-theme/images/icon/logo.png" alt="CoolAdmin">
                        </a>
                    </div>

                    <div class="login-form">
                        <form action="/auth/reset-password" method="post" id="user-form">

                            <input type="hidden" name="tok" value="<%= mytoken %>" placeholder="tiktok">

                            <div class="form-group">
                                <label>Set Password</label>
                                <input class="au-input au-input--full" type="password" name="pass1"
                                    placeholder="Password">
                            </div>

                            <div class="form-group">
                                <label>Confirm Password</label>
                                <input class="au-input au-input--full" type="password" name="pass2"
                                    placeholder="Confirm Password">
                            </div>

                    </div>
                    <button class="au-btn au-btn--block au-btn--green m-b-20" type="submit">Save</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>